@charset "utf-8";

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    min-height: 100vh;
}

header{
    color: white;
    background-color: #2e8000;
    padding: 20px;
}

main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

footer{
    color: white;
    background-color: #2e8000;
    padding: 20px;
}

aside{
    background-color: #bd9853;
    padding: 20px;
}

section{
    background-color: burlywood;
    padding: 20px;
    flex-grow: 1;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.title{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

nav{
    margin-top: 10px;
    background-color: #bd9853;
    border: 1px solid white;
}

nav>ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav>ul>li>a{
    display: block;
    padding: 10px 20px;
}

nav>ul>li>a:hover{
    background-color: burlywood;
}

form{
    display: flex;
    flex-direction: column;
}


.reg-wrapper{
    width: 350px;
    height: 400px;
    margin: auto;
}

.string{
    display: flex; 
}

.string>label{
    flex-basis: 150px;
    margin-bottom: 10px;
}

.string>input{
    flex-basis: 200px;
    margin-bottom: auto;
}

.buttons{
    justify-content: center;
}

.autor{
    text-align: center;
}

.string>select{
    width: 200px;
    margin-bottom: auto;
    border-radius: 0;
    border:  1px solid rgb(145, 145, 145);
}

.agreement{
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
}

input[type="reset"]{
    flex-grow: 0;
    flex-basis: auto;
}